:root {
    --bgLightMode: #e0e0e0;
    --navLightMode: rgb(190, 190, 190);
    --navLinkLight: #2c3d50;
    --cardLightMode: #243447;

    --bgDarkMode: rgb(15, 15, 15);
    --navDarkMode: rgb(38, 38, 38);
    --cardDarkMode: rgb(28, 28, 28);
    --DarkModeHighlightText: rgb(199, 158, 57);
    --DarkModeLinkHover: rgb(255, 230, 150);
}

html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--bg2);
    font-family: Montserrat;
    transition: background-color 0.8s ease;
}

body.changeBackground {
    background-color: var(--bgDarkMode);
}

nav {
    position: fixed;
    display: flex;
    gap: 5rem;
    align-items: center;
    width: 75%;
    background-color: var(--navLightMode);
    left: 50%;
    transform: translateX(-50%);
    top: 3%;
    border-radius: 1rem;
    box-shadow: 2px 5px 7px rgba(240, 240, 240, 0.5);
    padding: 1.5%;
    z-index: 8;

    transition: background-color 0.8s ease, box-shadow 0.8s ease;
}

nav.DarkNav {
    background-color: var(--navDarkMode);
    box-shadow: 2px 7px 7px rgba(0, 0, 0, 0.5);
}

.navLink {
    color: var(--navLinkLight);
    text-decoration: none;
    font-weight: bolder;
    transition: color 0.5s ease;
}

.navLink.DarkAnchor {
    color: var(--DarkModeHighlightText);
}

.navLink:hover {
    color: gray;
}

.navLink.DarkAnchor:hover {
    color: var(--DarkModeLinkHover);
}

#themeButton {
    margin-left: auto;
    background-color: gray;
    border-radius: 0.3rem;
    padding: 0.3rem;
    border: none;
    color: var(--navLinkLight);
    font-family: Montserrat;
    font-weight: bolder;
    font-size: 0.9rem;
    transition: background-color 1s ease, color 0.5s ease;
}

#themeButton:hover {
    color: white;
}

#themeButton.DarkButton {
    background-color: black;
    color: var(--DarkModeHighlightText);
}

#themeButton.DarkButton:hover {
    color: white;
}

.main_heading {
    color: black;
    text-align: center;
    padding-bottom: 3rem;
    transition: color 0.8s ease;
}

.main_heading.DarkMainHeading {
    color: var(--DarkModeHighlightText);
}

#introduction {
    padding-top: 10rem;
}

#profile_pic {
    display: block;
    width: 15rem;
    border-radius: 1.5rem;
}

#content {
    display: flex;
    width: 80%;
    align-items: end;
    margin: auto;
    line-height: 1.8rem;
    border-radius: 1.5rem;
    padding: 2rem;
    justify-content: space-around;
}

#name {
    font-size: 3rem;
    line-height: 1.7rem;
    color: var(--navLinkLight);
    transition: color 0.8s ease;
}

#name.DarkModeName {
    color: var(--DarkModeHighlightText);
}

#intro_para {
    color: black;
    width: 60%;
    font-weight: bolder;
    transition: color 0.8s ease;
}

#intro_para.DarkIntroPara {
    color: white;
}

.profileLink {
    display: block;
    margin-top: 0.5rem;
    width: 6rem;
    color: var(--navLinkLight);
    text-decoration: none;
    transition: color 0.8s ease;
}

.profileLink.DarkProfileLink {
    color: var(--DarkModeHighlightText);
}

.profileLink:hover {
    text-decoration: underline 2px black;
}

.profileLink.DarkProfileLink:hover {
    text-decoration: underline 2px var(--DarkModeHighlightText);
}

#education_section {
    padding-top: 10rem;
}

#education_section div {
    width: 70%;
    margin: auto;
    text-align: center;
}

.edu_content {
    color: black;
    transition: color 0.8s ease;
}

.edu_content.DarkModeEduContent {
    color: white;
}

#skills_section {
    padding-top: 12rem;
    padding-bottom: 5rem;
}

.skills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 80%;
    margin: auto;
    justify-items: center;
    padding-bottom: 7rem;
}

.skills_card {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    background-color: var(--cardLightMode);
    text-align: center;
    width: 15rem;
    height: 10rem;
    border-radius: 1.5rem;
    padding: 1.5rem;
    color: white;
    opacity: 0;
    transform: translateY(40px);
    transition: transform 0.5s ease, opacity 0.5s ease, box-shadow 0.5s ease,
        background-color 0.8s ease-out, color 0.8s ease;
}

.skills_card.DarkModeSkillCard {
    background-color: var(--cardDarkMode);
    color: var(--DarkModeHighlightText);
}

.skills_card.showCard {
    opacity: 1;
    transform: translateY(0);
}

.skills_card:hover {
    transform: scale(1.03);
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.5);
}

.skills_card.DarkModeSkillCard:hover {
    box-shadow: 9px 9px 9px rgba(0, 0, 0, 1);
}

.skills_card img {
    width: 20%;
    display: block;
    margin: auto;
}

#projects_section {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

#project_hint {
    text-align: center;
    padding-bottom: 2rem;
    /*font-weight: bolder;*/
    font-style: italic;
    color: black;
}

#project_hint.DarkModeHint {
    color: var(--DarkModeHighlightText);
}

#projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    width: 80%;
    margin: auto;
}

.project_card {
    background-color: var(--cardLightMode);
    position: relative;
    overflow: hidden;
    width: 70%;
    height: 80%;
    padding: 1.5rem;
    border-radius: 1.5rem;
    margin: auto;
    color: white;
    line-height: 1.5rem;
    text-align: center;
    transform: translateX(-40px);
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease, background-color 0.8s ease;
}

.project_card.DarkModeProjCard {
    background-color: var(--cardDarkMode);
}

.project_card.showProjCard {
    opacity: 1;
    transform: translateX(0);
}

.project_card h3 {
    text-align: center;
}

.proj_link {
    color: white;
    text-decoration: none;
    transition: color 0.2s ease-in;
}

.proj_link.DarkModeProjLink {
    color: var(--DarkModeHighlightText);
}

.proj_link:hover {
    color: #e67e22;
}

.proj_link.DarkModeProjLink:hover {
    color: var(--DarkModeLinkHover);
}

.project_card::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 0;
    transition: left 0.3s ease;
}

.project_card:hover::before {
    left: 0;
}

.project_card * {
    position: relative;
    z-index: 5;
}

#languages_section {
    padding-top: 5rem;
    padding-bottom: 10rem;
}

#languages {
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: auto;
}

.lang_card {
    position: relative;
    overflow: hidden;
    background-color: var(--cardLightMode);
    width: 12rem;
    border-radius: 1.5rem;
    text-align: center;
    color: white;

    opacity: 0;
    transform: translateX(-40px);
    transition: opacity 0.5s ease, transform 0.5s ease, background-color 0.8s ease;
}

.lang_name {
    color: white;
    transition: color 0.8s ease;
}

.lang_name.DarkModeLangName {
    color: var(--DarkModeHighlightText);
}

.lang_card.DarkModeLangCard {
    background-color: var(--cardDarkMode);
}

.lang_card.showLangCard {
    opacity: 1;
    transform: translateX(0);
}

.lang_card::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: -100%;
    border-radius: 1.5rem;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.3);
    transition: left 0.5s ease;
}

.lang_card:hover::before {
    left: 0;
}

.lang_card * {
    position: relative;
    z-index: 2;
}

footer {
    background-color: var(--navLightMode);
    padding: 0.2rem;
    transition: background-color 0.8s ease;
}

footer.DarkModeFooter {
    background-color: var(--navDarkMode);
}

footer h2 {
    color: black;
    transition: color 0.8s ease;
}

footer h2.DarkModeContactsHeading {
    color: var(--DarkModeHighlightText);
}

#contact_details {
    width: 80%;
    margin: auto;
    text-align: center;
}

#contact_links {
    display: flex;
    justify-content: space-around;
    gap: 5rem;
}

#contact_links a {
    text-decoration: none;
    color: var(--navLinkLight);
    transition: color 0.2s ease;
}

#contact_links a:hover {
    color: #e67e22;
}

#contact_links a.DarkModeContactLinks {
    color: var(--DarkModeHighlightText);
    transition: color 0.5s ease;
}

#contact_links a.DarkModeContactLinks:hover {
    color: var(--DarkModeLinkHover);
}

/***************************************************************************************************/
/* ===== MOBILE RESPONSIVE ===== */
@media only screen and (max-width: 768px) {

    /* NAVIGATION */
    nav {
        flex-direction: column;
        gap: 1rem;
        width: 90%;
        padding: 1rem;
    }

    #themeButton {
        margin-left: 0;
    }

    /* INTRODUCTION */
    #content {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 2rem;
        width: 90%;
        padding: 1rem;
    }

    #profile_pic {
        width: 12rem;
    }

    #intro_para {
        width: 100%;
    }

    #name {
        font-size: 2rem;
        line-height: 2.5rem;
    }

    /* EDUCATION */
    #education_section div {
        width: 95%;
    }

    /* SKILLS */
    .skills {
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;
        width: 90%;
        padding-bottom: 3rem;
    }

    .skills_card {
        width: 12rem;
        height: auto;
        padding: 1rem;
    }

    .skills_card img {
        width: 30%;
    }

    /* PROJECTS */
    #projects {
        grid-template-columns: 1fr;
        width: 95%;
        gap: 2rem;
    }

    .project_card {
        width: 100%;
        padding: 1rem;
    }

    #project_hint {
        font-size: 0.9rem;
    }

    /* LANGUAGES */
    #languages {
        flex-direction: column;
        gap: 1.5rem;
        width: 90%;
    }

    .lang_card {
        width: 80%;
        padding: 1rem;
    }
}