html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    /*background: linear-gradient(135deg, #f4ecd8, #2c7a7b);*/
    background: linear-gradient(to right, #f5f5f5, #e0e0e0);
    /*linear-gradient(to right, rgb(120, 120, 120), white);*/

    font-family: Montserrat;
}

header nav {
    position: fixed;
    width: 80%;
    background-color: #2c3d50
        /* #34495e*/
    ;
    left: 50%;
    transform: translateX(-50%);
    top: 3%;
    border-radius: 1rem;
    box-shadow: 2px 5px 7px;
    padding: 1.5%;
    z-index: 8;
}

nav a {
    color: white;
    text-decoration: none;
    transition: color 0.5s ease;
}

nav a:hover {
    color: gray;
}

nav {
    display: flex;
    justify-content: space-around;
}

.main_heading {
    text-align: center;
    padding-bottom: 3rem;
}

#introduction {
    padding-top: 10rem;
}

#profile_pic {
    display: block;
    width: 20rem;
}

#content {
    display: flex;
    width: 80%;
    margin: auto;
    align-items: center;
    line-height: 1.5rem;
    border-radius: 1.5rem;
    padding: 2rem;
    justify-content: space-around;
}

#intro_para {
    width: 60%;
    font-weight: bolder;
}

#content p {
    width: 100%;
}

#content h2 {
    font-size: 3rem;
    line-height: 3rem;
}

.link_profiles {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.link_profiles img {
    width: 2.5rem;
    height: 2.5rem;
}

.link_profiles a {
    color: black;
    text-decoration: none;
}

.link_profiles a:hover {
    text-decoration: underline 2px black;
}

#education_section {
    padding-top: 7rem;
}

#education_section div {
    width: 70%;
    margin: auto;
    text-align: center;
}

#skills_section {
    padding-top: 12rem;
    padding-bottom: 5rem;
}

.skills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 80%;
    margin: auto;
    justify-items: center;
    padding-bottom: 7rem;
}

.skills_card {
    /*rgb(80, 180, 255)*/
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    background-color: #243447;
    text-align: center;
    width: 15rem;
    height: 10rem;
    border-radius: 1.5rem;
    padding: 1.5rem;
    color: white;
    box-shadow: 2px 7px 7px rgba(0, 0, 0, 0.5);
    opacity: 0;
    transform: translateY(40px);
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.skills_card::before {
    content: "";
    position: absolute;
    left: 0;
    top: -100%;
    width: 100%;
    height: 100%;
    border-radius: 1.5rem;
    transition: top 0.3s ease;
    background-color: rgba(0, 0, 0, 0.3);
}

.skills_card:hover::before {
    top: 0;
}

.skills_card * {
    z-index: 2;
}

.skills_card.showCard {
    opacity: 1;
    transform: translateY(0);
}

.skills_card:hover {
    transform: scale(1.03);
}

.skills_card img {
    width: 20%;
    display: block;
    margin: auto;
}

#projects_section {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

#projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    width: 80%;
    margin: auto;
}

.project_card {
    background-color: #243447;
    position: relative;
    overflow: hidden;
    width: 70%;
    height: 80%;
    padding: 1.5rem;
    border-radius: 1.5rem;
    margin: auto;
    color: white;
    line-height: 1.5rem;
    text-align: center;
    transform: translateX(-40px);
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.project_card.showProjCard {
    opacity: 1;
    transform: translateX(0);
}

.project_card h3 {
    text-align: center;
}

.project_card a {
    color: white;
    transition: color 0.2s ease;
}

.project_card a:hover {
    color: #e67e22;
}

.project_card::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 0;
    transition: left 0.3s ease;
}

.project_card:hover::before {
    left: 0;
}

.project_card * {
    position: relative;
    z-index: 5;
}

#languages_section {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

#languages {
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: auto;
}

.lang_card {
    position: relative;
    overflow: hidden;
    background-color: #243447;
    width: 12rem;
    border-radius: 1.5rem;
    text-align: center;
    color: white;

    opacity: 0;
    transform: translateX(-40px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.lang_card.showLangCard {
    opacity: 1;
    transform: translateX(0);
}

.lang_card::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: -100%;
    border-radius: 1.5rem;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.3);
    transition: left 0.5s ease;
}

.lang_card:hover::before {
    left: 0;
}

.lang_card * {
    position: relative;
    z-index: 2;
}